/cliente2Trabalho2/nbproject/private/
/cliente2Trabalho2/build/
/Exercicio2/nbproject/private/
/Exercicio2/build/
/Trabalho 2/cliente2Trabalho2/build/
/Trabalho 2/cliente2Trabalho2/nbproject/private/
/Trabalho 2/trabalho2/build/
/Trabalho 2/trabalho2/dist/
/Trabalho 2/trabalho2/nbproject/private/
/Exercicio2Cliente/nbproject/private/
/Exercicio2Cliente/build/
/Exercicio2Cliente/dist/
/Trabalho 2/Exercicio2Cliente/build/
/Trabalho 2/Exercicio2Cliente/dist/
/Trabalho 2/Exercicio2Cliente/nbproject/private/
/Trabalho_3/Exercicio_2/Exercicio2/dist/
/JavaApplication47/nbproject/private/
/publicacoes/nbproject/private/
/autores/nbproject/private/
/publicacoes/build/
/EnterpriseApplication1/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-war/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-ejb/nbproject/private/
/publicacao/nbproject/private/
/publicacao/build/
/publicacao/dist/