/cliente2Trabalho2/nbproject/private/
/cliente2Trabalho2/build/
/Exercicio2/nbproject/private/
/Exercicio2/build/
/Trabalho 2/cliente2Trabalho2/build/
/Trabalho 2/cliente2Trabalho2/nbproject/private/
/Trabalho 2/trabalho2/build/
/Trabalho 2/trabalho2/dist/
/Trabalho 2/trabalho2/nbproject/private/